{{- define "normkey" -}}
  {{- $last_part := index (split . "/") 4 -}}
  {{- $removed_dots := replace $last_part "." "_" -1 -}}
  {{- replace $removed_dots "-" "_" -1 -}}
{{- end -}}

{{- define "promlabel" -}}
  {{- $label := .Key -}}
  {{- $value := .Value -}}
  {{- $len := split $label "prometheus.label." -}}
  {{- if eq (len $len) 2 -}}
  {{- $removed_prefix := replace $label "prometheus.label." "" -1 -}}
  {{ template "normkey" $removed_prefix }}: '{{ $value }}'
  {{- end -}}
{{- end -}}

global:
  scrape_interval: 10s
  scrape_timeout: 10s
  evaluation_interval: 1m

scrape_configs:
  {{- range $stack_name := ls "/stacks/" -}}
    {{- range $service := ls (printf "/stacks/%s/services/" $stack_name) -}}
      {{ if exists (printf "/stacks/%s/services/%s/labels/prometheus.port" $stack_name $service) -}}
        {{- $port := getv (printf "/stacks/%s/services/%s/labels/prometheus.port" $stack_name $service) }}

  {{- if exists (printf "/stacks/%s/services/%s/labels/prometheus.job_name" $stack_name $service) }}
  - job_name: '{{ getv (printf "/stacks/%s/services/%s/labels/prometheus.job_name" $stack_name $service) }}'
  {{- else }}
  - job_name: '{{ $stack_name }}_{{ $service }}'
  {{- end }}

    {{- if exists (printf "/stacks/%s/services/%s/labels/prometheus.scrape_interval" $stack_name $service) }}
    scrape_interval: '{{ getv (printf "/stacks/%s/services/%s/labels/prometheus.scrape_interval" $stack_name $service) }}'
    {{- end }}

    {{- if exists (printf "/stacks/%s/services/%s/labels/prometheus.scrape_timeout" $stack_name $service) }}
    scrape_timeout: '{{ getv (printf "/stacks/%s/services/%s/labels/prometheus.scrape_timeout" $stack_name $service) }}'
    {{- end }}

    {{- if exists (printf "/stacks/%s/services/%s/labels/prometheus.metrics_path" $stack_name $service) }}
    metrics_path: '{{ getv (printf "/stacks/%s/services/%s/labels/prometheus.metrics_path" $stack_name $service) }}'
    {{- end }}

    static_configs:
      {{- if eq "service" (getv (printf "/stacks/%s/services/%s/kind" $stack_name $service)) -}}
        {{- range $container := lsdir (printf "/stacks/%s/services/%s/containers/" $stack_name $service) }}

      - targets: ['{{ $container }}.rancher.internal:{{ $port }}']
        labels:
          stack_name: '{{ $stack_name }}'
          service_name: '{{ $service }}'
          container_name: '{{ $container }}'
          container_id: '{{ getv (printf "/containers/%s/external_id" $container) }}'
            {{- range gets (printf "/stacks/%s/services/%s/labels/*" $stack_name $service) }}
          {{ template "promlabel" . }}
            {{- end -}}

            {{- $host_uuid := getv (printf "/containers/%s/host_uuid" $container) -}}
            {{- range $host_name := ls "/hosts/" -}}
              {{- if eq $host_uuid (getv ( printf "/hosts/%s/uuid" . )) }}
          host_name: '{{ $host_name }}'
          host_ip: '{{ getv (printf "/hosts/%s/agent_ip" $host_name) }}'
                {{- range gets (printf "/hosts/%s/labels/*" $host_name) }}
          host_label_{{ template "normkey" .Key }}: '{{ .Value }}'
                {{- end -}}
              {{- end -}}
            {{- end -}}

        {{- end -}}
      {{- end -}}

      {{- if eq "service" (getv (printf "/stacks/%s/services/%s/kind" $stack_name $service)) -}}
        {{- if not (exists (printf "/stacks/%s/services/%s/labels/prometheus.metric_relabel_pattern" $stack_name $service)) }}

    # We usually don't need the host labels, we want it only in a specific metric when we're using metric_relabeling
    relabel_configs:
      - action: 'labeldrop'
        regex: 'host_.*'

        {{- else -}}

          {{- if eq "cadvisor" (getv (printf "/stacks/%s/services/%s/labels/prometheus.metric_relabel_pattern" $stack_name $service)) }}

    relabel_configs:
      - action: 'replace'
        source_labels: ['host_ip']
        target_label: 'instance'

      - action: 'labeldrop'
        regex: '(stack_name|service_name|container_id|container_.*|host_.*|)'

    metric_relabel_configs:
      - action: 'replace'
        source_labels: ['container_label_io_rancher_project_name']
        target_label: 'stack_name'

      - action: 'replace'
        source_labels: ['container_label_io_rancher_stack_service_name']
        regex: '[a-zA-Z0-9_-]*/([a-zA-Z0-9_-]*)'
        target_label: 'service_name'

      - action: 'replace'
        source_labels: ['id']
        regex: '/docker/(.+)'
        target_label: 'container_id'

      - action: 'replace'
        source_labels: ['id']
        regex: '/docker/(.+)'
        replacement: ''
        target_label: 'id'

      - action: 'drop'
        source_labels: ['id']
        regex: '/(system|user|init).*'

      - action: 'replace'
        source_labels: ['container_label_io_rancher_container_system']
        target_label: 'system'

      - action: 'labelmap'
        regex: 'container_label_prometheus_label_(.+)'

      - action: 'replace'
        source_labels: ['image']
        target_label: 'image_name'

      - action: 'labeldrop'
        regex: 'image'

      - action: 'labeldrop'
        regex: 'container_label_.*'

          {{- else if eq "node" (getv (printf "/stacks/%s/services/%s/labels/prometheus.metric_relabel_pattern" $stack_name $service)) }}

    relabel_configs:
      - action: 'replace'
        source_labels: ['host_ip']
        target_label: 'instance'

      - action: 'labeldrop'
        regex: '(stack_name|service_name|container_.*|host_ip|host_label_io_rancher_.*)'
          {{- end -}}
        {{- end -}}
      {{- end -}}


      {{- end -}}
    {{- end -}}
  {{- end }}
